<%#= render partial: "reward", collection: @rewards %>

<% @rewards.each do |reward| %>
	<div class='reward'>
		<%= reward.amount %>
		<%= reward.description %><br>

		<%=form_for([@project, reward]) do |f|%>
			<%= f.fields_for :donations, Donation.new(:amount => reward.amount, :user_id => current_user.id) do |d| %>
				<%#= render 'donate_fields', :d => donation %>
				<%= d.hidden_field :user_id %>
				<%= d.text_field :amount %>	
			<%end%>
			<%=f.submit 'Donate'%>
		<%end%>

	</div>
<% end %>