<h2> My Profile </h2>
<%= link_to "Edit Profile", edit_user_path(@user)
 %> 

 <div class="profile">
    <% if current_user %>
        <div class ="profile_info">
        <div class = "subject"> First name:</div>  <%= current_user.first_name %> <br>
        <div class = "subject"> Last name:</div>  <%= current_user.last_name %> <br>
    	<div class = "subject"> Email:</div>  <%= current_user.email %> <br>
       	</div>
    <% end %>
</div>

<% if current_user %>

	<% if current_user.backed_projects !=[]%>

	<% current_user.backed_projects.each do |project|%>
	<p> Backed Projects:</p>
		 <%= link_to project.name, project_path(project)%>
		 <% current_user.rewards.each do |reward|%>
			 <p> You have donated: <%= reward.amount%></p>
			 <p> Your reward: <%= reward.description%></p>
		 <%end%>
	<%end%>
	


 <%end%>


 	



<%end%>


