<div class="gridwrapper">
                <div class="tile">
                    <div class="tileinner">
 						Name: <%= @project.name %><br>
 						Description: <%= @project.description %><br>
 						Funding Goal: <%= @project.goal %><br>
 						Star Date: <%= @project.start_date %><br>
 						End Date: <%= @project.start_date %><br>

                    </div>
                </div>
</div>
