<div class="project_info">
 	Name: <%= @project.name %><br>
 	Description: <%= @project.description %><br>
 	Funding Goal: <%= @project.goal %><br>
 	Start Date: <%= @project.start_date %><br>
 	End Date: <%= @project.start_date %><br>
 	Rewards: <br>
	 	<%@project.rewards.each do |reward|%>
	 		<%= reward.amount %>
	 		<%= reward.description %><br>
	 	<%end%>
 					
 	<h2> Like what you see? Back this project!</h2>
	 
		 	 <%= link_to "Donate", project_rewards_path(@project) %> 
		
		<p> Sign in to back a project. </p>
	      
</div>








 