<div class="project_info">
 	Name: <%= @project.name %><br>
 	Description: <%= @project.description %><br>
 	Funding Goal: <%= @project.goal %><br>
 	Start Date: <%= @project.start_date %><br>
 	End Date: <%= @project.end_date %><br>
 	Rewards: <br>
	 	<%@project.rewards.each do |reward|%>
	 		<%= reward.amount %>
	 		<%= reward.description %><br>
	 	<%end%>
 					
 <p> Total donated: <%=@sum%></p>
  <p> Total remaining: <%=@remainder%></p>

<p> Days remaing until deadline: <%= @days_until.to_i %></p>
<br>
<br>


<% if current_user %>
	<% if @user_donations != nil %>
					 <% @user_donations.each do |donation|%>
						 <p> You have donated: <%= donation.amount%></p>
						 <p> Click <%= link_to "Donate", project_rewards_path(@project) %> to donate more </p>
					 <%end%>
	<%else%>
	<p> Like what you see? Click <%= link_to "Donate", project_rewards_path(@project) %></p>
	<%end%>
	
<%else%>

 	<p> Sign in or login to back this project </p>
	
 <%end%>


 	

 	
	      
</div>








 