<div class="project_info">
 	Name: <%= @project.name %><br>
 	Description: <%= @project.description %><br>
 	Funding Goal: <%= @project.goal %><br>
 	Start Date: <%= @project.start_date %><br>
 	End Date: <%= @project.end_date %><br>
 	Rewards: <br>
	 	<%@project.rewards.each do |reward|%>
	 		<%= reward.amount %>
	 		<%= reward.description %><br>
	 	<%end%>
 					
 <p> Total donated: <%=@sum%></p>
  <p> Total remaining: <%=@remainder%></p>

<p> Days remaing until time is up: <%= @days_until.to_i %></p>
<br>
<br>

<% if current_user %>
	<% if current_user.backed_projects !=[]%>
	<% current_user.backed_projects.each do |project|%>
		 <%= link_to project.name, project_path(project)%>
		 <% current_user.rewards.each do |reward|%>
			 <p> You have donated: <%= reward.amount%></p>
			 <p> Your reward: <%= reward.description%></p>
		 <%end%>
	<%end%>
	
 		<p> Click <%= link_to "Donate", project_rewards_path(@project) %> to donate more </p>
 	<%else%>
 	<h2> Like what you see? Back this project!</h2>
	 
		 	 <%= link_to "Donate", project_rewards_path(@project) %> 
		
		<p> Sign in to back a project. </p>

 <%end%>

 <%else%>
 	<p> Sign in or login to back this project </p>



<%end%>



 	
	      
</div>








 