<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :cocoon %> 
</head>
<body>
	<div class="userinfo">
		<% if current_user %>
        	Signed in as <%= current_user.email %>.  <%= link_to "Profile", current_user %>  <%= link_to "Log out", session_path("current"), :method => :delete %>
        <% else %>
            <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
        <% end %>
   	</div> 


<%= link_to "Home", "/" %> 
<%= link_to "New Project", new_project_path %> 

 <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

  
<%= yield %>

</body>
</html>
